@import "variable";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    overflow-x: hidden;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;



    .main{
        margin: 4rem 0;

        z-index: 1;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 2rem;
        grid-column-gap: 2rem;


        height: 78rem;
        width: 109rem;
        
        &--testimonial{


            &--1{
                background: $moderate-violet;
                color: $white;

                padding: 2rem;
                border-radius: 2rem;

                grid-column: 1 / 3;
                z-index: 3;

                position: relative;


                .quotation-marks{
                    opacity: .8;
                    z-index: -1;
                    height: 14rem;
                    position: absolute;
                    left: 30rem;
                    top: 2rem;
                }

                &--profile{
                    display: flex;
                    align-items: center;

                    img{
                        border-radius: 50%;
                    }

                    &--details{
                        display: flex;
                        flex-direction: column;
                        gap: .6rem;

                        font-size: 1.3rem;

                        margin-left: 1rem;
                    }
                }

                &--heading{
                    margin-top: 2rem;
                    font-size: 2.2rem;
                    line-height: 1.2;
                    line-height: 1;
                }

                &--paragraph{
                    font-size: 1.8rem;
                    margin-top: 2rem;

                }
            }

            &--2{
                padding: 1rem;
                border-radius: 2rem;

                background: $very-dark-grayish-blue;
                color: $white;

                grid-column: 3 / 4;

                &--profile{
                    display: flex;
                    align-items: center;

                    img{
                        border-radius: 50%;
                    }

                    &--details{
                        display: flex;
                        flex-direction: column;
                        gap: .6rem;

                        font-size: 1.3rem;

                        margin-left: 1rem;
                    }
                }

                &--heading{
                    margin-top: 2rem;
                    font-size: 2.2rem;
                    line-height: 1.2;
                    line-height: 1;
                }

                &--paragraph{
                    font-size: 1.8rem;
                    line-height: 1.2;    
                    margin-top: 2rem;

                }

            }

            &--3{
                padding: 1rem;
                border-radius: 2rem;

                background: $white;
                color: $very-dark-blackish-blue;
                grid-column: 1 / 2;
                grid-row: 2 / 3;

                &--profile{
                    display: flex;
                    align-items: center;

                    img{
                        border-radius: 50%;
                    }

                    &--details{
                        display: flex;
                        flex-direction: column;
                        gap: .6rem;

                        font-size: 1.3rem;

                        margin-left: 1rem;
                    }
                }

                &--heading{
                    margin-top: 2rem;
                    font-size: 2.2rem;
                    line-height: 1.2;
                    line-height: 1;
                }

                &--paragraph{
                    font-size: 1.8rem;
                    line-height: 1.2;
                    margin-top: 2rem;

                }
            }

            &--4{
                padding: 1rem;
                border-radius: 2rem;

                background-color: $very-dark-blackish-blue;
                color: $white;
                grid-column: 2 / 4;
                grid-row: 2 / 3;

                &--profile{
                    display: flex;
                    align-items: center;

                    img{
                        border-radius: 50%;
                    }

                    &--details{
                        display: flex;
                        flex-direction: column;
                        gap: .6rem;

                        font-size: 1.4rem;

                        margin-left: 1rem;
                    }
                }

                &--heading{
                    margin-top: 2rem;
                    font-size: 2.2rem;
                    line-height: 1.2;
                    line-height: 1;
                }

                &--paragraph{
                    font-size: 1.8rem;
                    line-height: 1.2;
                    margin-top: 2rem;

                }
            }

            &--5{
                padding: 1rem;
                border-radius: 2rem;

                background-color: $white;
                color: $very-dark-blackish-blue;
                grid-row: 1 / 3;

                &--profile{
                    display: flex;
                    align-items: center;

                    img{
                        border-radius: 50%;
                    }

                    &--details{
                        display: flex;
                        flex-direction: column;
                        gap: .6rem;

                        font-size: 1.5rem;

                        margin-left: 1rem;
                    }
                }

                &--heading{
                    margin-top: 2rem;
                    font-size: 2.2rem;

                    line-height: 1.2;
                }

                p{
                    font-size: 1.8rem;
                    line-height: 1.2;
                    margin-top: 2rem;

                }
            }
        }
    }
}

@media (max-width: 500px){
    body{
        height: 100vh;
        width: 100vw;
    }

    .main{

        overflow-y: scroll !important;
        overflow-x: hidden;

        height: 95vh !important;
        width: 95vw !important;

        display: flex !important;
        flex-direction: column !important;
        gap: 2rem !important;


        &--testimonial{



            &--1{
               width: 100%; 

               grid-row: 1 / 2;
               grid-column: 1 / 2 ;
            }
            
            &--2{
                width: 100%; 
                
                grid-row: 2 / 3;
                grid-column: 1 / 2 ;
            }
            
            &--3{
                width: 100%; 
                
                grid-row: 3 / 4;
                grid-column: 1 / 2 ;
            }
            
            &--4{
                width: 100%; 
                
                grid-row: 4 / 5;
                grid-column: 1 / 2 ;
            }
            
            &--5{
                width: 100%; 

                grid-row: 5 / 6;
                grid-column: 1 / 2 ;
            }
        }
    }
}